*{
  font-family: Arial,sans-serif;
}



/* #fondo{background-image: url(cabecera.jpg);} */

body{
  background-color: burlywood;
  font-size: 1.05em;
}

a {
  text-decoration: none;
  transition: all 200ms ease;
}
a:hover {
  color: red;
}


p {
  margin-top: 0.5em;
}

ul {
  margin-top: 0.5em;
}

table .enlac{
  color: green;
}


.content {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  color: black;
  font-size: 1.05em;
}

.col {
  float: left;
}

.row {
    display: block;
    width: 100%;
    display: table;
    clear: both;
}

.rside {
  width: 600px;
  
}
.lside {
  /* min-height: 300px; */
  width: 170px;
  /* background-color: rebeccapurple; */
  text-align: center;  
  margin-top: 125px;
}



.cabecera {
  height: 100px;
  background-image: url(cabecera.jpg);
  vertical-align: middle;
}


.section-left {
  width: 430px;
  /* background-color: blueviolet; */
   text-align: justify;
}
.section-right {
  width: 170px;
  /* background-color: aqua; */
  font-size: 1.05em;

  
}

footer {
  width: 770px;
  /* background-color: salmon; */
  margin-top: 1.5em;
}

#navegador ul{
  list-style-type: none;
  text-align: center;
    /* background-image: url(cabecera.jpg);
  height: 100px;
  vertical-align: middle; */
  margin-top: 1.5em;
}

#navegador li{
   display: inline; 
   text-align: center;
   margin: 0 0 0 0;


}


#enlaces h3 {
     text-align: center;
}

#enlaces ul {
   list-style-type: none;
  
}

#enlaces li{
   text-align: center; 
   margin: 10px 40px 0 0;
}


#inicio ul{
   list-style-type: none;
   text-align: center; 
   margin: 40px 50px 0 0;
}

#inicio li{
    text-align: center; 
   margin: 20px 0px 0 0;
}

#inicio li a {
   /* padding: 5px 10px 5px 10px; */
   /* color: #666; */
   /* background-color: #eeeeee;*/
   /* border: 1px solid #ccc; */
   text-decoration: none;
}

#inicio li a:hover{
   background-color: #333333;
   color: #ffffff;
}



