body {
  background-color: brown lighten-2;
  font-size: 1.05em;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
  transition: all 200ms ease;
}

a:hover {
  color: red;
}


p {
  margin-top: 0.5em;
}

ul {
  margin-top: 0.5em;
}

table .enlac {
  color: green;
}

.cabecera {
  background-image: url(/img/cabecera.jpg);
}

div,
.fila {
  height: 20vh;
}

div,
.colum {
  height: auto;
}

footer,
.pie {
  height: 20;
}

main {
  flex: 1 0 auto;
}
